.page {
    font-family: Roboto, sans-serif;
    display: flex;
    height: 200%; /* 2 PDF Pages */
}

.page--html {
    height: fit-content;
}

.title {
    font-weight: 400;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #686868;
}

.bold {
    font-weight: bold;
}
