.left-column {
    width: 35%;
    background-color: #303030;
    margin: 0 auto;
}

.left-column .title {
    color: white;
}

.avatar {
    margin: 50px auto;
    width: 175px;
    height: 175px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.page--html .avatar {
    margin-right: 120px;
}

.left-segment {
    width: 80%;
    margin: 0 auto;
    max-width: 300px;
    page-break-inside: avoid;
}

.page--html .left-segment {
    margin: 0 60px 0 auto;
}

.contact-item,
.link {
    display: flex;
    align-items: center;
    color: white;
    height: 50px;
    text-decoration: none;
}

.contact-item svg,
.link svg {
    width: 25px;
    height: 25px;
    min-width: 25px;
    margin-right: 12px;
    border-radius: 50%;
    background-color: #303030;
}

.contact-item-value {
    font-size: 16px;
    font-weight: 400;
}

.link {
    color: white;
    text-decoration: none;
}
