.left {
    width: 35%;
    background-color: #303030;
    margin: 0 auto;
}

.left .title {
    color: white;
}

.avatar {
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 175px;
    height: 175px;
    border-radius: 50%;
}

.page--html .avatar {
    margin-right: 120px;
}

.avatar img {
    width: auto;
    height: 100%;
}

.left-box {
    width: 80%;
    margin: 50px auto;
    max-width: 300px;
}

.page--html .left-box {
    margin: 50px 60px 60px auto;
}

.contact-item,
.link {
    display: flex;
    align-items: center;
    color: white;
    height: 50px;
    text-decoration: none;
}

.contact-item svg,
.link svg {
    width: 25px;
    height: 25px;
    min-width: 25px;
    margin-right: 12px;
    border-radius: 50%;
    background-color: #303030;
}

.contact-item-value {
    font-size: 16px;
    font-weight: 400;
}

.link {
    color: white;
    text-decoration: none;
}
