.left-column {
    width: 35%;
    background-color: #303030;
    margin: 0 auto;

    @media only screen and (max-width: 1200px) {
        width: 100%;
        padding: 50px 0 100px;
    }
}

.left-column .title {
    color: white;
}

.avatar-mobile,
.avatar {
    margin: 50px auto;
    width: 175px;
    height: 175px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    @media only screen and (max-width: 1200px) {
        display: none;
    }
}

.avatar-mobile {
    display: none;

    @media only screen and (max-width: 1200px) {
        display: flex;
        margin: 50px;
    }
}

.avatar-mobile img,
.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.page--html .avatar {
    margin-right: 120px;
}

.left-segment {
    width: 80%;
    margin: 0 auto;
    max-width: 300px;
    page-break-inside: avoid;
}

.page--html .left-segment {
    margin: 0 60px 0 auto;

    @media only screen and (max-width: 1200px) {
        width: 90%;
        max-width: unset;
        margin: 0 auto;
    }
}

.link-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @media only screen and (max-width: 1200px) {
        justify-content: flex-start;
    }
}

.contact-item,
.link {
    display: flex;
    align-items: center;
    color: white;
    height: 50px;
    text-decoration: none;
}

.contact-item svg,
.link svg {
    width: 25px;
    height: 25px;
    min-width: 25px;
    margin-right: 12px;
    border-radius: 50%;
    background-color: #303030;
}

.contact-item-value {
    font-size: 16px;
    font-weight: 400;
}

.link {
    color: white;
    text-decoration: none;
    width: 100%;

    @media only screen and (max-width: 1200px) {
        width: fit-content;
        margin-right: 60px;
    }
}
