.position-item {
    margin: 15px 0 35px;
}

.position-item-subtitle {
    display: flex;
    align-items: center;
}

.position-item-period {
    margin: 0;
    width: 180px;
}

.position-item-location {
    display: flex;
    align-items: center;
    margin-left: 40px;
}

.position-item-location svg {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #4c4c4c;
    padding: 5px;
}

.position-item-location-value {
    color: #4c4c4c;
    margin: 0 0 0 8px;
}

.position-item-description {
    color: #4c4c4c;
}
