.right {
    width: 65%;
    margin: 0 auto;
}

.right p {
    line-height: 1.5;
}

.right-box {
    width: 90%;
    margin: 0 auto 10px auto;
    page-break-inside: avoid;
}

.page--html .right-box {
    margin: 10px 60px;
    max-width: 70%;
}

.header,
.page--html .header {
    margin-top: 70px;
}

.name {
    font-size: 40px;
    font-weight: 400;
    margin: 0;
}

.role {
    font-size: 18px;
    font-weight: 400;
    margin: 0;
}

.about-me-text {
    color: #4c4c4c;
}
