{% load svg static i18n %}

<div class="page {% if response_type == 'html' %}page--html{% endif %}">
    <section class="left">
        <div class="avatar">
            <img src="{{ avatar_url }}" alt="avatar"/>
        </div>
        {% include 'cv/includes/contact.html' %}
        {% for item in left_section %}
            {{ item }}
        {% endfor %}
    </section>
    <section class="right">
        <div class="right-box header">
            <h1 class="name">{{ cv.first_name|upper }} {{ cv.last_name|upper }}</h1>
            <p class="role">{{ cv.role|upper }}</p>
        </div>
        {% for item in right_section %}
            {{ item }}
        {% endfor %}
    </section>
</div>

{% if response_type == 'html' %}
    <a href="{{ cv_pdf_url }}" class="cv-pdf-button" target="_blank">
        {% trans 'GET PDF' %}
    </a>
{% endif %}
