{% load svg static i18n %}

<div class="page {% if response_type == 'html' %}page--html{% endif %}">
    <section class="left">
        <div class="avatar">
            <img src="{{ avatar_url }}" alt="avatar"/>
        </div>
        {% include 'cv/includes/contact.html' %}
        {% include 'cv/includes/links.html' %}
        {% include 'cv/includes/skills.html' with title=_('SKILLS') items=cv.ordered_skills %}
        {% include 'cv/includes/skills.html' with title=_('LANGUAGES') items=cv.languages.all %}
        {% include 'cv/includes/education.html' %}
    </section>
    <section class="right">
        <div class="right-box header">
            <h1 class="name">{{ cv.first_name|upper }} {{ cv.last_name|upper }}</h1>
            <p class="role">{{ cv.role|upper }}</p>
        </div>
        <div class="right-box about-me">
            <h2 class="title">{% trans 'ABOUT ME' %}</h2>
            <p class="about-me-text">{{ cv.about_me }}</p>
        </div>
        {% include 'cv/includes/employments.html' %}
        {% include 'cv/includes/internship.html' %}
        {% include 'cv/includes/projects.html' %}
    </section>
</div>

{% if response_type == 'html' %}
    <a href="{{ cv_pdf_url }}" class="cv-pdf-button" target="_blank">
        {% trans 'GET PDF' %}
    </a>
{% endif %}
