.page {
    font-family: Roboto, sans-serif;
    display: flex;

    @media only screen and (max-width: 1200px) {
        flex-direction: column-reverse;
    }
}

.page--html {
    min-height: 100%;
    height: unset;
}

.title {
    height: 80px;
    display: flex;
    align-items: flex-end;
    font-weight: 400;
    margin: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #686868;
}

.bold {
    font-weight: bold;
}

.portfolio-pdf-button {
    position: fixed;
    bottom: 30px;
    right: 40px;
    padding: 10px 40px;
    background-color: #0b510b;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    transition: transform 0.3s, background-color 0.3s;

    @media only screen and (max-width: 1200px) {
        top: 20px;
        right: 20px;
        bottom: unset;
        width: 60px;
        height: 60px;
        padding: 20px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

.portfolio-pdf-button:hover {
    background-color: #0b880b;
    transform: scale(1.2); /* Increase the size by 10% */
}
