.page {
    font-family: Roboto, sans-serif;
    display: flex;

    @media only screen and (max-width: 1200px) {
        flex-direction: column-reverse;
    }
}

.page--html {
    min-height: 100%;
    height: unset;
}

.title {
    height: 80px;
    display: flex;
    align-items: flex-end;
    font-weight: 400;
    margin: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #686868;
}

.bold {
    font-weight: bold;
}
