.skill-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @media only screen and (max-width: 1200px) {
        justify-content: flex-start;
    }
}

.skill {
    width: 45%;
    max-width: 150px;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    @media only screen and (max-width: 1200px) {
        margin-right: 40px;
    }
}

.skill:nth-child(even) {
    @media only screen and (max-width: 768px) {
        margin-right: 0;
    }
}

.skill-label {
    color: white;
    margin: 0 0 5px 0;
}

.skill-bar {
    height: 5px;
    border-bottom: 1px solid white;
}

.skill-bar-filler {
    background: white;
    height: 100%;
}

.skill-bar-filler-1 {
    width: 20%;
}

.skill-bar-filler-2 {
    width: 40%;
}

.skill-bar-filler-3 {
    width: 60%;
}

.skill-bar-filler-4 {
    width: 80%;
}

.skill-bar-filler-5 {
    width: 100%;
}
