.input-field {
    margin: 20px 0;
}

.input-field label {
    display: flex;
    flex-direction: column;
}

.input-field .label-text {
    padding: 4px 0;
    font-size: 20px;
    color: #606060;
}

.input-field input {
    height: 50px;
    padding: 0 10px;
    font-size: 20px;
}

.input-field .help-text {
    color: #606060;
}

.input-field .help-text ul {
    margin: 2px 0;
    padding: 0 18px;
}

.input-field .error {
    color: red;
    margin-top: 2px;
}
