.page {
    font-family: Roboto, sans-serif;
}

.content {
    width: 100%;
    min-height: 100%;
    display: flex;
}

.title {
    font-weight: 400;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #686868;
}
