.right {
    width: 65%;
    margin: 0 auto;
}

.right p {
    line-height: 1.5;
}

.right-box {
    width: 90%;
    margin: 40px auto 60px;
}

.header {
    margin-top: 70px;
    margin-bottom: 40px;
}

.name {
    font-size: 40px;
    font-weight: 400;
    margin: 0;
}

.role {
    font-size: 18px;
    font-weight: 400;
    margin: 0;
}

.about-me {
    margin-bottom: 70px;
}

.about-me-text {
    color: #4c4c4c;
}
