.right {
    width: 65%;
    padding: 70px 30px 50px;
    margin: 0 auto;
}

.right p {
    line-height: 1.5;
}

.right-content {
    width: 100%;
    max-width: 800px;
}

.name {
    font-size: 40px;
    margin: 5px 0;
    font-weight: 400;
}

.role {
    margin: 0 0 50px;
    font-size: 18px;
    font-weight: 400;
}

.about-me {
    margin-bottom: 70px;
}

.about-me-text {
    color: #4c4c4c;
}

.right .title {
    font-weight: 400;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #686868;
}

.employment-item {
    margin: 15px 0 35px;
}

.employment-item-subtitle {
    display: flex;
    align-items: center;
}

.employment-item-period {
    margin: 0;
    width: 180px;
}

.employment-item-location {
    display: flex;
    align-items: center;
    margin-left: 40px;
}

.employment-item-location svg {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #4c4c4c;
    padding: 5px;
}

.employment-item-location-value {
    color: #4c4c4c;
    margin: 0 0 0 8px;
}

.employment-item-description {
    color: #4c4c4c;
}
