{% load svg static i18n %}

<div class="page {% if response_type == 'html' %}page--html{% endif %}"
     {% if response_type == 'pdf' %}style="height: calc(100% * {{ portfolio.page_count }})"{% endif %}>
    <section class="left-column">
        <div class="avatar">
            <img src="{{ avatar_url }}" alt="avatar"/>
        </div>
        {% for segment in left_column %}
            {{ segment }}
        {% endfor %}
    </section>
    <section class="right-column">
        <div class="avatar-mobile">
            <img src="{{ avatar_url }}" alt="avatar"/>
        </div>
        <div class="right-segment header">
            <h1 class="name">{{ portfolio.first_name|upper }} {{ portfolio.last_name|upper }}</h1>
            <p class="role">{{ portfolio.role|upper }}</p>
        </div>
        {% for segment in right_column %}
            {{ segment }}
        {% endfor %}
    </section>
</div>

{% if response_type == 'html' %}
    <a class="pdf-button" href="{{ portfolio_pdf_url }}">
        <span class="text">{% trans 'Download' %}</span>
        {% svg "portfolio/svg/pdf.svg" %}
    </a>
{% endif %}
