{% extends "base.html" %}

{% load i18n static %}

{% block head %}
    <title>{% trans "Registration" %}</title>
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
    <link rel="stylesheet" href="{% static 'user/css/registration.css' %}">
{% endblock %}

{% block content %}
    <h1>{% trans "Registration" %}</h1>
    <form class="registration-form" method="POST">
        {% csrf_token %}
        {% include "includes/input_field.html" with field=form.email %}
        {% include "includes/input_field.html" with field=form.password1 %}
        {% include "includes/input_field.html" with field=form.password2 %}
        <div class="button-row">
            <input class="go-to-button" type="submit" value="{% trans "Register" %}"/>
        </div>
    </form>
{% endblock %}
