{% load svg %}

<div class="left-segment contact">
    <a class="contact-item" href="{{ address_link }}">
        {% svg "cv/svg/location.svg" %}
        <div class="contact-item-value">{{ address_label }}</div>
    </a>
    <a class="contact-item" href="tel:{{ phone }}">
        {% svg "cv/svg/phone.svg" %}
        <div class="contact-item-value">{{ phone }}</div>
    </a>
    <a class="contact-item" href="mailto:{{ email }}">
        {% svg "cv/svg/email.svg" %}
        <div class="contact-item-value">{{ email }}</div>
    </a>
</div>
