{% load svg i18n %}

<div class="right-box">
    <h2 class="title">{% trans 'INTERNSHIP HISTORY' %}</h2>
    {% for internship in cv.ordered_internships %}
        {% if forloop.counter0 == 1 and response_type == 'pdf' %}
            <div style="height: 70px">
                {# TODO: check if this can be replace with a page break!!! #}
                <!-- empty space to break the page in PDF document -->
            </div>
        {% endif %}
        <div class="position-item">
            <h3 class="position-item-title">{{ internship.title }}, {{ internship.company }}</h3>
            <div class="position-item-subtitle">
                <p class="position-item-period">
                    {{ internship.start|date:"M Y" }} - {{ internship.end|date:"M Y"|default:_('Present') }}
                </p>
                <div class="position-item-location">
                    {% svg "cv/svg/location-dark.svg" %}
                    <p class="position-item-location-value">{{ internship.location }}</p>
                </div>
            </div>
            <p class="position-item-description">
                {{ internship.description }}
            </p>
        </div>
    {% endfor %}
</div>
