{% load svg i18n %}

<div class="left-segment">
    <h2 class="title">{% trans 'INTERNSHIP HISTORY' %}</h2>
    {% for internship in internships %}
        <div class="education-item">
            <h3 class="education-item-title">{{ internship.title }}, {{ internship.company }}</h3>
            <div class="education-item-subtitle">
                <p class="education-item-period">
                    {{ internship.start|date:"M Y" }} - {{ internship.end|date:"M Y"|default:_('Present') }}
                </p>
                <div class="education-item-location">
                    {% svg "cv/svg/location.svg" %}
                    <p class="education-item-location-value">{{ internship.location }}</p>
                </div>
            </div>
            <p class="education-item-description">
                {{ internship.description }}
            </p>
        </div>
    {% endfor %}
</div>
