{% load svg i18n %}

<div class="right-box">
    <h2 class="title">{% trans title %}</h2>
    {% for item in items %}
        <div class="position-item">
            <h3 class="position-item-title">{{ item.title }}, {{ item.company }}</h3>
            <div class="position-item-subtitle">
                <p class="position-item-period">
                    {{ item.start|date:"M Y" }} - {{ item.end|date:"M Y"|default:_('Present') }}
                </p>
                <div class="position-item-location">
                    {% svg "cv/svg/location-dark.svg" %}
                    <p class="position-item-location-value">{{ item.location }}</p>
                </div>
            </div>
            <p class="position-item-description">
                {{ item.description }}
            </p>
        </div>
    {% endfor %}
</div>
