{% load css svg static %}

<div class="left-box skills">
    <h2 class="title">{{ title }}</h2>
    {% for item in items %}
        {% if forloop.first or forloop.counter0|divisibleby:2 %}
            {# Because CSS property grid is not supported when rendering PDF from HTML #}
            {# ('pdfkit' python package), we need to "manually" split the items into two #}
            {# columns (divs) when rendering the HTML template. #}
            <div class="skills-row">
        {% endif %}
    <div class="skill">
        <p class="skill-label">{{ item.label }}</p>
        <div class="skill-bar">
            <div class="skill-bar-filler skill-bar-filler-{{ item.level }}"></div>
        </div>
    </div>
    {% if forloop.last or forloop.counter|divisibleby:2 %}
        </div>
    {% endif %}
    {% endfor %}
</div>
